!!!5
html
	head
		meta(charset='UTF-8')
		title Document
		link(rel="stylesheet", type="text/css", href="css/main.css")
	body
		#header-l
		#main-l
		#footer-l
		//- script#main-template
		include templates/main-page
		include templates/about-page

		button#js-a click			

		script(type="text/javascript", src="js/lib/require.js", data-main="js/main")
